apps/dwm/dwm
apps/st/st
apps/surf/surf
apps/dmenu/dmenu
apps/dmenu/stest
apps/slock/slock
apps/tabbed/tabbed
apps/tabbed/xembed
apps/dunst/dunst
*.o
*.so
include/*

ac-comphist.dat
history.el
auto-save-list
places

.config/.tmux/resurrect